<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog-AspNetCore.txt">

    <!-- enable asp.net core layout renderers -->
    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
    </extensions>

    <!-- the targets to write to -->
    <targets>
        <target name="logfile"
                xsi:type="File"
                fileName="${basedir}/Logs/$current.log"
                archiveFileName="${basedir}/logs/{#}.log"
                archiveEvery="Day"
                archiveNumbering="Date"
                archiveDateFormat="yyyy-MM-dd"
                maxArchiveFiles="7"
                concurrentWrites="true"
                layout="${longdate}|${level:uppercase=true}|${processid}|${logger}|${message}|${callsite}|${exception:tostring}"
                encoding="UTF-8"
        />

        <target name="logfile-error"
                xsi:type="File"
                fileName="${basedir}/Logs/error.log"
                archiveFileName="${basedir}/logs/{#}_error.log"
                archiveEvery="Day"
                archiveNumbering="Date"
                archiveDateFormat="yyyy-MM-dd"
                maxArchiveFiles="7"
                concurrentWrites="true"
                layout="${longdate}|${level:uppercase=true}|${processid}|${logger}|${message}|${callsite}|${exception:format=tostring,message,method:maxInnerExceptionLevel=5:innerFormat=tostring,stacktrace}"
                encoding="UTF-8"
        />
    </targets>

    <rules>
        <logger name="*" minlevel="Info" writeTo="logfile"/>
        <logger name="*" minlevel="Error" maxlevel="Fatal" writeTo="logfile-error"/>
    </rules>
</nlog>